extends ../base
block title
    | Landing page
block main

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Zombie Apocalypse</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <a href="https://antashkevich.github.io/game/build/game">Start Game</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>About game</h2>
            <p><span>Zombie Apocalypse</span> - this is a browser game in which the player's character can move around the game world in different directions.</p>
            <p>This game is built using:</p>
            <ul>
              <li><span class="tool-game js-icon"></span>JavaScript</li>
              <li><span class="tool-game jq-icon"></span>JQuery</li>
              <li><span class="tool-game canvas-icon"></span>Canvas</li>
              <li><span class="tool-game web3-icon"></span>Webpack 3</li>
            </ul>
            <ul>
              <li><span class="tool-game boot-icon"></span>Bootstrap 4</li>
              <li><span class="tool-game html5-icon"></span>HTML 5</li>
              <li><span class="tool-game css3-icon"></span>CSS 3</li>
              <li><span class="tool-game sass-icon"></span>SASS</li>
            </ul>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-12 ">
          <h2>Controls</h2>
        </div>        
      </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-jump"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Jump</h2>
            <p><span class="control-jump"></span> Up arrow</p>
            <p class="lead mb-0">Just press the up arrow on the keyboard so that the hero jumps.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img showcase-runLeft"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Run Left</h2>
            <p><span class="control-runleft"></span> Left arrow</p>
            <p class="lead mb-0">Just press the left arrow on the keyboard so that the hero run left.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-runRight" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Run Right</h2>
            <p><span class="control-runright"></span> Right arrow</p>
            <p class="lead mb-0">Just press the right arrow on the keyboard so that the hero run right.</p>
          </div>
        </div>
         <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img showcase-shoot" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Shoot</h2>
             <p><span class="control-shoot"></span> Space</p>
            <p class="lead mb-0">Just press the space on the keyboard so that the hero shoot.</p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-wasted" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Game over</h2>
            <p class="lead mb-0">If you didn't win the zombies...do not despair!!! Just press the button restart and try again to go through the game. </p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img showcase-win" ></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Win</h2>
            <p class="lead mb-0">If you go through the game to the end, you will know the number of coins collected. But you can improve your result by going through the game again. Just press the button restart! </p>
          </div>
        </div>




      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">DEVELOPERS</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <span class="developer first"></span>
              <h5>Arniyazov Atabay</h5>
              <p>Creating a game</p>
              <div class="links">
                <a href="linkedin.com/in/atabay-arniyazov-a13310142" class="linkin" target="_blank"></a>
                <a href="https://github.com/AtabayArniyazov" class="github" target="_blank"></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <span class="developer second"></span>
              <h5>Antashkevich Alexandr</h5>
              <p>Creating a landing</p>
               <p>Customize a Webpack</p>
               <div class="links">
                <a href="https://www.linkedin.com/in/antashkevich" class="linkin" target="_blank"></a>
                <a href="https://github.com/antashkevich" class="github" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Zombie Apocalypse 2017. All Rights Reserved.</p>
          </div>
          </div>
        </div>
      </div>
    </footer>